<nav class="navbar navbar-expand-lg  navbar-dark bg-dark">
  <a class="navbar-brand" href="#">
    <img
      src="https://res.cloudinary.com/ielemson/image/upload/v1571237530/netflix-mini/Logo-Netflix_u0p4rd.png"
      height="30"
      alt="mdb logo"
    />
  </a>
  <!-- <a class="navbar-brand" href="#">Home</a> -->
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarText"
    aria-controls="navbarText"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/']"
          >Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Tv shows</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"
          >Favourite <b class="fa fa-heart fa-xs text-danger"></b
        ></a>
      </li>
    </ul>
    <span class="navbar-text white-text">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form class="form-inline">
            <div class="md-form my-0">
              <input
                class="form-control mr-sm-2"
                type="text"
                placeholder="Search"
                aria-label="Search"
              />
            </div>
          </form>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">DVD </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Kids</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Login</a>
        </li>
      </ul>
    </span>
  </div>
</nav>
