<div class="container-fluid mt-5">
  <!-- <h2>KIDS</h2> -->
  <!-- <div class="row mb-5">
    <div class="col-md-3 ">
      <div class="card mb-2 top-movie">
        <img
          class="card-img-top"
          src="https://res.cloudinary.com/ielemson/image/upload/v1571712299/netflix-mini/train-your-dargon_pda65t.jpg"
          alt="kid who would be king"
        />
        <div class="card-body">
          <h4 class="card-title text-danger">
            <strong>HOW TO TRAIN YOUR DRAGON</strong>
          </h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a class="btn btn-danger btn-sm">view</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card mb-2 top-movie">
        <img
          class="card-img-top"
          src="../../assets/img/movie/Dora-City-Lost-Gold-Isabela-Moner.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title text-danger">
            <strong>DORA &amp; THE CITY LOST GOLD</strong>
          </h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a class="btn btn-danger btn-sm">view</a>
        </div>
      </div>
    </div>

    <div class="col-md-3">
      <div class="card mb-2 top-movie">
        <img
          class="card-img-top"
          src="https://res.cloudinary.com/ielemson/image/upload/v1571714089/netflix-mini/alita_hvpdfq.jpg"
          alt="Card image cap"
        />
        <div class="card-body">
          <h4 class="card-title text-danger">
            <strong>ALITA BATTLE ANGEL</strong>
          </h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a class="btn btn-danger btn-sm">view</a>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div class="card mb-2 top-movie">
        <img
          class="card-img-top"
          src="https://res.cloudinary.com/ielemson/image/upload/v1571242884/netflix-mini/kids-movies-2019-the-kid-who-would-be-king_gvsyrz.jpg"
          alt="Card image cap"
        />

        <div class="card-body">
          <h4 class="card-title text-danger">
            <strong>THE KID WHO WOULD BE KING</strong>
          </h4>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a class="btn btn-danger btn-sm">view</a>
        </div>
      </div>
    </div>
  </div> -->
  <!-- Grid row -->
  <!-- <h2>ADULT</h2> -->
  <div class="row">
    <app-movie-item
      class="col-lg-3 col-md-12 mb-4"
      *ngFor="let movie of movies"
      [movie]="movie"
    ></app-movie-item>
  </div>
</div>
